
button {
  top: -3px;
  transition: background-color .2s;
  background-color: #535559;
  border-radius: 50%;
  border: none;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.focus {
  .close {
    background: #bf4942;
  }
  .close:hover {
    background: #ff6159;
  }

  .min {
    background: #bf8e22;
  }
  .min:hover {
    background: #ffbd2e;
  }

  .max {
    background: #1d9730;
  }
  .max:hover {
    background: #28c941;
  }
}
